.vs/
x64/
x32/
x86/
Debug/

XMCyber/Debug/
XMCyber/x64/
XMCyber/x32/
XMCyber/x86/

XMCyberMain/Debug/
XMCyberMain/x64/
XMCyberMain/x32/
XMCyberMain/x86/

XMCyberTests/Debug/
XMCyberTests/x64/
XMCyberTests/x32/
XMCyberTests/x86/
XMCyberTests/.vs/

*.result

packages/